.docs-component-sidenav-inner-content{
  padding-top: 48px;
}
.docs-component-sidenav{ width: 200px; background: #f1f1f1; height: 100%; position: fixed; left:0px;}
.docs-component-sidenav a{
  display: flex;
  align-items: center;
  color: #666;
  line-height: 42px;
  height: 42px;
  padding-left: 30px;
  margin-left: 10px;
  margin-right: 0px;
  text-decoration: none;
  transition: 0.5s all;
  border-radius: 15px 0px 0px 15px;
  background: #ddd;
}
.docs-component-sidenav a i{
  margin-right: 5px; font-size: 16px;
}
.docs-component-sidenav a:hover,.docs-component-sidenav a.active{
  background: #3f51b5;
  color: #fff;
}